<html>

<body>

  <main>
    <div class="inner-text">
      <h1>Bazar da Zezinha</h1>
      <p>Te espero lá</p>
    </div>
  </main>

  <section class="invite-section">
    <div class="invite-body">
      <h1>Voce esta convidada(o)! </h1>
    </div>
  </section>
  <section class="event-details">
    <h1>O Bazar</h1>


    <div class="details">
      <div class="event-time">
        <h3>Quando?</h3>
        <p>Dia 21/11 - 15:00</p>

      </div>

      <div class="event-place">
        <h3>Onde?</h3>
        <p>Rua Ana Claudina, 65</p>
        <p>Engenheiro Cardoso, Itapevi</p>
        <button>
          <a
            href="https://www.bing.com/maps?osid=fbe80f8e-e4bd-4118-a5b5-2b457689305f&cp=-23.538512~-46.92246&lvl=16&v=2&sV=2&form=S00027">Como
            chegar
          </a>
        </button>
      </div>
    </div>
  </section>
  <div class="greeting">
    <h1>Espero que você possa ir</h1>
    <p>Pode confirmar por gentileza no link abaixo:</p>
    <a href="https://wa.me/qr/5ILAPYFYQ4XSD1" class="btn-light">Whatsapp</a>
  </div>
  <footer>
    <h1>Marília Gabriely© <a href=""></a></h1>
  </footer>

</body>

</html>