<html>

<body>
  <!---
    <header>
       <nav>
           <ul>
               <li><a href="#">home</a></li>
               <li><a href="#">jhon & maria</a></li>
               <li><a href="#">wedding</a></li>
               <li><a href="#">rsvp</a></li>
           </ul>
       </nav>
   </header>-->
  <main>
    <div class="inner-text">
      <h1>Bazar da Zezinha</h1>
      <p>Te espero lá</p>
      <p>21-11-2021</p>
      <p> 15:00 </p>
    </div>
  </main>

  <section class="invite-section">
    <div class="invite-body">
      <h1>Voce esta convidada(o)! </h1>
      <!-- <p>of course....</p> -->
    </div>
  </section>
  <section class="wedding-details">
    <h1>O Bazar</h1>


    <div class="details">
      <div class="wedding-time">
        <h3>Quando?</h3>
        <p>Dia 21/11 - 15:00</p>
      
      </div>
      <div class="event-place">
        <h3>Onde?</h3>
        <p>Rua Ana Claudina, 65</p>
        <p>Engenheiro Cardoso, Itapevi</p>
      </div>
    </div>
  </section>
  <div class="greeting">
    <h1>Espero que você possa ir</h1>
    <p>Pode confirmar por gentileza no link abaixo:</p>
    <a href="https://wa.me/qr/5ILAPYFYQ4XSD1" class="btn-light"></a>
  </div>
  <footer>
    <h1>powered by <a href="">Marília Gabriely</a></h1>
  </footer>

</body>

</html>